<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Points (They're Not Useless)</title>
        
        <link rel="stylesheet" href="/assets/common.css">
        <link rel="stylesheet" href="/assets/main.css">
    </head>
    <body>
        <div class="landing-container">
            <%= render "src/views/header.ecr" %>
            <div class="landing">
                <div class="landing-content">
                    <div class="landing-text">
                        <h1>Points</h1>
                        <h2>They're not useless.</h2>
                    </div>
                    <div class="landing-image">
                        <img src="/assets/channel_points_icon.png">
                    </div>
                </div>
                <div class="landing-buttons">
                    <a href="/edit">Get Started</a>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none"><path fill-opacity="1" d="M0,64L80,96C160,128,320,192,480,192C640,192,800,128,960,133.3C1120,139,1280,213,1360,250.7L1440,288L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
        </div>
        <div class="content">
            <h1>Think channel points are useless?</h1>
            <p>You'd be right... mostly.</p>
            <p>
                <i>Points (They're Not Useless)</i> is a streaming tool that allows you to customize your channel points
                rewards, giving them greater functionality and providing viewers with more interaction to your stream.
            </p>
            <p>
                This project was created as a submission to the <a href="https://twitch.tv/maya">Maya</a><a href="https://discord.gg/KhXAvU5">cord</a>
                programming tournament, spanning from June 25th to July 2nd.
            </p>
        </div>
    </body>
</html>